{% extends 'bledy/base.html' %}
{% block content %}

    <div class="container-fluid">
        <h1>Wszystkie wpisy</h1>

        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="60%">
            <thead class="black white-text">
                <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Nr wiazki</th>
                    <th class="th-sm">Nr zlecenia</th>
                    <th class="th-sm">Nr kontrolera</th>
                    <th class="th-sm">Nr budujacego</th>
                    <th class="th-sm">Ilosc skontrolowanych</th>
                    <th class="th-sm">Ilosc bledow</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Data dodania</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm">#</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for wpis in wszystkie_wpisy %}
                <tr>
                    <th scope="row">{{ wpis.id }}</th>
                    <td>{{ wpis.nr_wiazki }}</td>
                    <td>{{ wpis.nr_zlecenia }}</td>
                    <td>{{ wpis.nr_kontrolera }}</td>
                    <td>{{ wpis.nr_budujacego }}</td>
                    <td>{{ wpis.ilosc_skontrolowanych }}</td>
                    <td>{{ wpis.ilosc_bledow }}</td>
                    <td>{{ wpis.blad }}</td>
                    <td>{{ wpis.data_dodania }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'bledy_edytujForm' wpis.id %}" class="btn btn-primary btn-sm mr-2">Edytuj</a>
                    {% if wpis.skasowany == 0 %}
                        <a href="{% url 'bledy_usun' wpis.id %}" class="btn btn-primary btn-sm">Usuń</a>
                    {% else %}
                        <a href="{% url 'bledy_przywroc' wpis.id %}" class="btn btn-primary btn-sm">Przywróć</a>
                    {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="black white-text">
                <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Nr wiazki</th>
                    <th class="th-sm">Nr zlecenia</th>
                    <th class="th-sm">Nr kontrolera</th>
                    <th class="th-sm">Nr budujacego</th>
                    <th class="th-sm">Ilosc skontrolowanych</th>
                    <th class="th-sm">Ilosc bledow</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Data dodania</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm">#</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock content %}