{% extends 'bledy/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="card col-md-12 my-3 mx-auto text-white red darken-1">
        <div class="card-body">
            <h2>Błędy Twojego działu</h2>
        </div>
    </div>
    <div class="card col-md-12 my-3 mx-auto">
        <table id="dtWszystkieTwojeWpisy" class="table table-striped table-hover table-sm table-borderless" cellspacing="0" width="100%">
            <thead class="black white-text">
                <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Nr karty</th>
                    <th class="th-sm">Nr budujacego</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Opis</th>
                    <th class="th-sm">Data dodania</th>
                    <th class="th-sm" width="5%">#</th>
                </tr>
            </thead>
            <tbody>
                {% for wpis in wpisy_lider %}
                <tr>
                    <th scope="row">{{ wpis.id }}</th>
                    <td>{{ wpis.nr_karty }}</td>
                    <td>{{ wpis.nr_budujacego }}</td>
                    <td>{{ wpis.blad }}</td>
                    <td>{{ wpis.opis }}</td>
                    <td>{{ wpis.data_dodania }}</td>
                    <td>
                        <a href="{% url 'zakoncz_bledy' wpis.id %}" title="Zakończ zadanie" ><i class="fas fa-check-square green-text ml-2 fa-2x"></i></a>
                        <a href="{% url 'bledy_edytujForm' wpis.id %}" title="Edytuj wpis" ><i class="fas fa-pen-square indigo-text ml-2 fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="black white-text">
                <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Nr karty</th>
                    <th class="th-sm">Nr budujacego</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Opis</th>
                    <th class="th-sm">Data dodania</th>
                    <th class="th-sm">#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="card col-md-12 my-3 mx-auto text-white red darken-1">
        <div class="card-body">
            <h2>Błędy produkcji [ <a href="{% url 'wszystkie_wpisy' %}" title="Wszystkie błędy" ><i class="fas fa-list"></i></a> ]</h2>
        </div>
    </div>
    <div class="card col-md-12 my-3 mx-auto">
        <table id="dtWszystkieWpisy" class="table table-striped table-hover table-sm table-borderless" cellspacing="0" width="100%">
            <thead class="black white-text">
                <tr>
                    <th class="th-sm" width="5%">#</th>
                    <th class="th-sm" width="5%">Nr karty</th>
                    <th class="th-sm" width="5%">Nr budujacego</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Opis</th>
                    <th class="th-sm" width="10%">Data dodania</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm" width="5%">#</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for wpis in wszystkie_wpisy %}
                <tr>
                    <th scope="row">{{ wpis.id }}</th>
                    <td>{{ wpis.nr_karty }}</td>
                    <td>{{ wpis.nr_budujacego }}</td>
                    <td>{{ wpis.blad }}</td>
                    <td>{{ wpis.opis }}</td>
                    <td>{{ wpis.data_dodania }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        {% if id_autor == wpis.autor_wpisu_id %}
                            <a href="{% url 'bledy_edytujForm' wpis.id %}" title="Edytuj wpis" ><i class="fas fa-pen-square indigo-text ml-2 fa-2x"></i></a>
                        {% if wpis.skasowany == 0 %}
                            <a href="{% url 'usun_bledy' wpis.id %}" title="Usuń wpis" ><i class="fas fa-trash-alt red-text ml-2 fa-2x"></i></a>
                        {% else %}
                            <a href="{% url 'bledy_przywroc' wpis.id %}" title="Przywróć wpis" ><i class="fas fa-trash-restore-alt amber-text ml-2 fa-2x"></i></a>
                        {% endif %}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="black white-text">
                <tr>
                    <th class="th-sm">#</th>
                    <th class="th-sm">Nr karty</th>
                    <th class="th-sm">Nr budujacego</th>
                    <th class="th-sm">Blad</th>
                    <th class="th-sm">Opis</th>
                    <th class="th-sm">Data dodania</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm">#</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="card col-md-12 my-3 mx-auto text-white red darken-1">
        <div class="card-body">
            <h2>Karta - wpisy [ <a href="{% url 'wpisyKarta' %}" title="Wszystkie karty" ><i class="fas fa-list"></i></a> ]</h2>
        </div>
    </div>
    <div class="card col-md-12 my-3 mx-auto">
        <table id="dtOstatnieKarty" class="table table-striped table-hover table-sm table-borderless" cellspacing="0" width="100%">
            <thead class="black white-text">
                <tr>
                    <th class="th-sm" width="4%">#</th>
                    <th class="th-sm">Nr karty</th>
                    <th class="th-sm" width="15%">Nr wiazki</th>
                    <th class="th-sm" width="15%">Nr zlecenia</th>
                    <th class="th-sm" width="3%">Ilość wadliwych</th>
                    <th class="th-sm" width="10%">Data wystawnienia</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm" width="5%">#</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for wpis in karta %}
                <tr>
                    <th scope="row">{{ wpis.id }}</th>
                    <td>{{ wpis.id }}/{{ wpis.data_karty_miesiac }}/{{ wpis.data_karty_rok }}</td>
                    <td>{{ wpis.nr_wiazki }}</td>
                    <td>{{ wpis.nr_zlecenia }}</td>
                    <td>{{ wpis.ilosc_wadliwych }}</td>
                    <td>{{ wpis.data_dodania }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'detal_karta' wpis.id %}" title="Szczegóły" ><i class="fas fa-align-justify indigo-text ml-2 fa-2x"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="black white-text">
                <tr>
                    <th class="th-sm" width="4%">#</th>
                    <th class="th-sm">Nr karty</th>
                    <th class="th-sm">Nr wiazki</th>
                    <th class="th-sm">Nr zlecenia</th>
                    <th class="th-sm">Ilość wadliwych</th>
                    <th class="th-sm" width="10%">Data wystawnienia</th>
                    {% if user.is_authenticated %}
                    <th class="th-sm" width="5%">#</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock content %}